<div th:fragment="myInfoDiv">
    <!-- Modal detail -->
    <div class="modal fade" id="myAccountInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">公告內容</h4>
                </div>
                <div class="modal-body" id="detailModalContent">
                    <!-- /.col-lg-6 -->
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="announcementTitle">

                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>發布者</th>
                                            <th id="userName"></th>
                                            <th>發布時間</th>
                                            <th id="announceOpenTime"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="4" id="announceContent">1</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" data-dismiss="modal">確認</div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>