<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head layout:fragment="contentHead">
    <title th:text="${headTitle}"></title>

</head>
<body>
<div layout:fragment="contentCss">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.toast.css}" rel="stylesheet"/>
</div>

<div layout:fragment="content">
12333



</div>

</body>
<div layout:fragment="contentJs">
    <!--    <script th:src="@{/js/jquery-ui-1.11.0.min.js}" type="text/javascript"></script>-->
    <script type="text/javascript" th:inline="javascript">
        console.log([[${announcementList}]])

    </script>
</div>
</html>
